<div class="remarks">
  <% total_space = 0 %>
  <% @balcony_plants.each do |p| %>
  <% total_space += p.plant.spacing_in_cm %>
  <% end %>
  <div>
    <% if @balcony_plants.where(planted: true).count == 0 %>
      <p class="mb-0">Tu n'as encore aucune plante mise en terre, valide chaque plante pour commencer son suivi</p>
    <% elsif @balcony_plants.count -  @balcony_plants.where(planted: true).count > 0%>
      <br>Pour finaliser ton balcon il te reste <strong><%= @balcony_plants.count -  @balcony_plants.where(planted: true).count%></strong> plantes à mettre en terre</p>
    <% end %>
  </div>
  <h6 class="mt-3">Remarques</h6>
  <div class="card px-2 py-3">
  <% if @balcony_plants.count -  @balcony_plants.where(planted: true).count > 0 %>
    <i><p>Ces <strong><%= @balcony_plants.count %></strong> plantes demandent <strong><%= total_space %>cm</strong> linéaires minimum pour leur bonne implantation. 
    <p class="mb-0">Attention au <strong>géranium</strong> qui ne supporte pas de trop grosses variations de températures</p></strong></i>
  <% else %>
    <p class="mb-0">Attention au <strong>géranium</strong> qui ne supporte pas de trop grosses variations de températures</p></strong></i>
  <% end %>
  </div>
</div>

<div class="grid-plants mb-5">
  <% @balcony_plants.each do |balcony_plant| %>
    <% if balcony_plant.planted? %>
      <%= render "planted_plant", balcony_plant: balcony_plant %>
    <% else %>
      <%= render "not_planted_plant", balcony_plant: balcony_plant%>
    <% end %>
  <% end %>
</div>
