
<%# <div 
    <input data-hello-target="name" type="text">

    <button data-action="click->hello#greet">
    Greet
    </button>

    <span data-hello-target="output">
    </span>
</div> %>
<div data-controller="plant" class="card not_planted <%= balcony_plant.plant.category %> card-plant-min" style="width: 18rem;">
    <%= content_tag :span, "", class:"plant-img"%>
    <div class="plant-img card-img-top" style="background-image: url(<%= cl_image_path(balcony_plant.plant.photo.key) %>);">
        <%= simple_form_for @balcony, url: plant_balcony_plant_path(balcony_plant), 
                                      method: :patch, 
                                      remote: true, 
                                      data: { 
                                          action: "ajax:success->plant#replaceCard",
                                          type: "text"
                                      } do |f| %>
            <%= button_tag type: 'submit', class: "btn btn-success btn-plant", id: "btn-add-planter" do %>
                <i class="fas fa-seedling"></i>
            <% end %>
        <% end %>
    </div>
    <%= link_to plant_path(balcony_plant.plant), class: "link-plant" do %>
        <h5 class="plant-title card-title"><%= balcony_plant.plant.name %></h5>
        <div class="logo_water_lum">
            <div>
                <% if balcony_plant.plant.luminosity == "ombre"%>
                    <i class="bi bi-clouds-fill"></i>
                <% elsif balcony_plant.plant.luminosity == "peu ensoleillé" %>
                    <i class="bi bi-cloud-sun-fill"></i>
                <% else %>
                    <i class="bi bi-brightness-high-fill"></i>
                <% end %>
            </div>
            <div class="plant-temp">
                <i class="bi bi-thermometer-half"></i>
            </div>
            <div>
                <% if balcony_plant.plant.water_need == "peu"%>
                    <i class="bi bi-droplet"></i>
                <% elsif balcony_plant.plant.water_need == "moyen" %>
                    <i class="bi bi-droplet-half"></i>
                <% else %>
                    <i class="bi bi-droplet-fill"></i>
                <% end %>
            </div>
        </div>
        <p class="temp-info"><strong><%= balcony_plant.plant.min_temp %> / <%= balcony_plant.plant.max_temp %>°C</strong></p>
    <% end %>
</div>
