<div class="title">
  <h5>Voici une suggestion de plantes ètablie selon vos rèponses</h5>
</div>
<div class="remarks">
  <h6>Remarques sur vos plantes</h6>
  <p>Votre géranium a besion d'eau et ne doit pas être planté à côté d'un cactus</p>
</div>
<div class="cards-container">
  <%= simple_form_for @balcony, url: batch_create_balcony_balcony_plants_path(@balcony), method: :post do |f| %>
    <div class="cards">
      <% @suggested_plants.each do |plant| %>
        <div class="card <%= plant.category %> card-plant mb-3" style="max-width: 540px;">
          <div class="row">
            <div class="col-6 card-desc">
              <div class="card-body">
                <p class="card-subtitle"><%= plant.category %></p>
                <h5 class="card-title"><%= plant.name %></h5>
                <p class="card-text"><%= plant.description %></p>
                <%= link_to 'Details', plant_path(plant), class:"btn btn-warning" %>
              </div>
            </div>
            <div class="plant-img col-6">
              <%= cl_image_tag(plant.photo.key) %>
              <input value="<%= plant.id %>" name="balcony[plant_ids][]" class="plant" type="checkbox" id="plant-<%= plant.id %>">
              <label for="plant-<%= plant.id %>"
                as: :check_boxes, input_html: { class: "tag-selector" }, 
                item_wrapper_class= 'tag-item'>
                <i class="fas fa-plus custom-fas"></i>
              </label>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="add-plant">
      <div class="card aromatique card-plant mb-3" style="max-width: 540px;">
        <div class="card-desc">
          <div class="card-body">
            <h5 class="card-title">Vous ne trouvez pas votre bonheur ?</h5>
            <p class="card-text">Ajouter une nouvelle plante parmis toutes celles disponibles</p>
            <div class="add-plant-img">
              <%= link_to plants_path do %>
                <i class="fas fa-plus custom-fas" id="add-new-plant-suggestion"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%= f.submit "Valider mon balcon", class: "btn btn-success mb-5", id: "btn-add-plant" %>
  <% end %>
</div>