<div class="title">
  <h5>Voici une suggestion de plantes pour votre <%= @balcony.title %></h5>
</div>
<div class="remarks">
  <h7>Remarques sur vos plantes : </h7>
  <p>Votre géranium a besion d'eau et ne doit pas être planté à côté d'un cactus</p>
</div>
<div class="add-plant">
  <p>Vous ne trouvez pas votre bonheur ? </p>
  <i class="fas fa-plus"></i>
</div>
<div class="cards-container">
  <%= simple_form_for @balcony, url: batch_create_balcony_balcony_plants_path(@balcony), method: :post do |f| %>
    <%= f.submit "Valider mon balcon", class: "btn btn-success" %>
    <div class="cards">
      <% @suggested_plants.each do |plant| %>
        <div class="card aromatique card-plant mb-3" style="max-width: 540px;">
          <div class="row">
            <div class="col-6 card-desc">
              <div class="card-body">
                <p class="card-subtitle"><%= plant.category %></p>
                
                <h5 class="card-title"><%= plant.name %></h5>
                <p class="card-text"><%= plant.description %></p>
                <%# <i class="material-icons mr-2">Arroser tous les <%= plant.water_frequency_in_days jours</i> %>
                <%= link_to 'Details', plant_path(plant), class:"btn btn-warning" %>
              </div>
            </div>
            <div class="plant-img col-6">
              <%= cl_image_tag(plant.photo.key) %>
              <input value="<%= plant.id %>" name="balcony[plant_ids][]" class="plant" type="checkbox" id="plant-<%= plant.id %>">
              <label for="plant-<%= plant.id %>"
                as: :check_boxes, input_html: { class: "tag-selector" }, 
                item_wrapper_class= 'tag-item'>
                <i class="fas fa-plus"></i>
              </label>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>