<div class="container" id="form-balcon">
  <div class="title">
    <h3>Ton futur Balcon</h3>
    <br>
    <h6>Pour composer ton balcon, il nous faut quelques informations...</h6>
  </div>
  <div class="row">
    <div class="col-12 ">
      <div class="bg-white rounded p-3 shadow border-orange">
          
          <%= simple_form_for @balcony do |f| %>
            <div class="swiper-container">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                  <div class="center"> 
                    <i class="fas fa-pen"></i><%= f.input :title, :label => 'Comment veux-tu appeler ton balcon ?', 
                    collection_wrapper_class: 'category-wrapper-name',
                    placeholder: 'Mon Balcowidz' %>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="center"> 
                    <i class="far fa-building"></i><%= f.input :city, :label => 'Où est-ce que tu vis ?', 
                    id:"balcony_city", 
                    collection_wrapper_class: 'category-wrapper-location',
                    placeholder: 'Moncuq est accepté...' %>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="center"> 
                    <i class="fab fa-pagelines"></i><%= f.input :categories, :label => 'Tu veux quel type de plantes sur ton balcon ? (tu peux en choisir plusieurs)', 
                    prompt: 'Plantes comestibles, vivaces etc.', 
                    collection: ['Comestible', 'Vivace', 'Fruits', 'Arbuste'],
                    collection_wrapper_tag: 'div', 
                    collection_wrapper_class: 'category-wrapper-type', 
                    as: :check_boxes, input_html: { class: "tag-selector" }, 
                    item_wrapper_class: 'tag-item' %>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="center"> 
                    <i class="fas fa-faucet"></i><%= f.input :water_need, :label => "Niveau entretien tu es plutôt :", 
                        as: :radio_buttons, 
                        class:'form-check-inline', 
                        prompt: 'Sois le plus réaliste possible !', 
                        collection_wrapper_tag: 'div',
                        collection_wrapper_class: 'category-wrapper-entretien',
                        item_wrapper_class: 'category-item',
                        input_html: {class: 'category-selector'},
                        collection: Balcony::WATER_NEED %>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="center"> 
                    <i class="fas fa-cloud-rain"></i><%= f.input :rain_exposed, :label => "Quand il pleut, ton balcon est :", 
                      as: :radio_buttons, wrapper_html: {class: 'inline'},
                      as: :radio_buttons, 
                      class:'form-check-inline', 
                      prompt: 'Sois le plus réaliste possible !', 
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-wrapper-water',
                      item_wrapper_class: 'category-item',
                      input_html: {class: 'category-selector'},
                      collection: Balcony::RAIN_EXPOSED %>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="center slidercontainer mt-5"> 
                    <i class="fas fa-list-ol"></i>
                    <%= f.label :number_of_plants_desired, "Combien de plantes souhaites-tu sur ton balcon ?" %> 
                    <%= f.number_field :number_of_plants_desired, 
                      class: "slider",
                      data_slider_id: 'ex1Slider',
                      type: "text",
                      data_slider_min: "1",
                      data_slider_max: "30",
                      data_slider_step: "5",
                      data_slider_value: "5",
                      id: "ex8" %>
                    <%= f.submit 'Valide ton Balcon', class: "btn btn-success mt-5" %>
                  </div>
                </div>
              </div>
              <!-- If we need navigation buttons -->
              <div class="swiper-pagination"></div>
            </div>
          <% end %>
        </div>
      <div class="title">
      </div>
      </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    </div>
  </div>