<h1>Balconies#new</h1>
<p>Find me in app/views/balconies/new.html.erb</p>

<div class="container-md">
  <div class="row-new">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Crée ton Balcon</h3>
          <%= simple_form_for @balcony do |f| %>
            <%= f.input :title, placeholder: 'Mon Balcowidz' %>
            <%= f.input :city, id:"balcony_city", placeholder: 'Addresse ?' %>
            <%= f.input :luminosity, prompt: 'Selectionne ce qui correspond le mieux', collection: ['ombre', 'peu ensoleillé', 'ensoleillé'] %>
            <%= f.input :categories, as: :radio_buttons, class:'form-check-inline', prompt: 'Quel type de balcon tu préfères ?', collection: ['Comestible', 'Vivace', 'Fruits', 'Arbuste'] %>
            <%= f.input :size, as: :radio_buttons, class:'form-check-inline', collection: ['petit', 'moyen', 'grand'] %>
            <%= f.input :water_need, as: :radio_buttons, class:'form-check-inline', prompt: 'Tu es plutôt style de vie?', collection: ['Aventurier', 'Casanier'] %>
            <%= f.input :rain_exposed, as: :radio_buttons, wrapper_html: {class: 'inline'}, collection: ['un peu', 'moyen', 'beaucoup'] %>
            <%= f.input :number_of_plants_desired, placeholder: 'Tu souhaiterais combien de plantes max ?' %>
            <%= f.submit 'Add Your Balcony', class: 'btn btn-success' %>
          <% end %>
      </div>
    </div>
  </div>
</div>