<div class="cards-container mb-5">
  <div class="cards">
    <% @tasks_per_day.each do |due_date, tasks|  %>
      <%= due_date %>
      <% tasks.each do |task| %>
        <div class="card aromatique card-plant mb-3" style="max-width: 540px;">
          <div class="row">
            <div class="card-body">
              <div class="plant-img">
                <%= cl_image_tag(task.plant.photo.key)%>
              </div>
              <h6 class="card-title">Tâche a effectuer : <%= task.title %></h6>
              <p class="card-subtitle"><%= task.plant.name %></p>
              <p class="card-subtitle"><%= task.message %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
              