
<div class="weather">
  <div class="card">
    <div class="sky">
      <img src="<%= @data.weather.first.icon_uri %>" alt="">
    </div>  
    
    <div class="weather-today">
      <div>
        <h3 class="weather-desc temp"><%= @data.main.temp_c.to_i %>°C</h3>
        <h3 class="weather-desc desc"><%= @data.weather.first.description %></h3>
      </div>
      
      <div class="forecast">
        <h3>Max <%= @data.main.temp_max.to_i %>°C</h3>
        <h3>Min <%= @data.main.temp_min.to_i %>°C</h3>
        <h3>Nuages <%= @data.clouds.all %>%</h3>
      </div>
    </div>

  </div>
</div> 