<div class=" navbar-custom fixed-bottom">
  <div class="nav-icon">
    <div class="nav-link nav-home">
      <%= link_to balcony_path(balconies) do %>
        <%= content_tag :span, "", :class => "fas fa-carrot" %>
      <% end %>
    </div>
    <div class="nav-link nav-notif">
      <%= link_to tasks_path do %>
        <%= content_tag :span, "", :class => "fas fa-bell" %>
      <% end %>
    </div>
    <div class="nav-link nav-search">
      <%= link_to plants_path do %>
        <%= content_tag :span, "", :class => "fas fa-search" %>
      <% end %>
    </div>
    <div class="nav-link nav-user">
      <%= link_to balcony_plant_path(current_user) do %>
        <%= content_tag :span, "", :class => "fas fa-user" %>
      <% end %>
    </div>
  </div>
</div>
