<div class="container" id="container-with-navbar">
  <div class="title">
    <h3>Les plantes</h3>
  </div>
  <div class="search">
    <%= form_tag plants_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "searchTerm",
        placeholder: "Nom de plante ou catégorie"
      %>
      <button type="submit" class="searchButton">
        <i <%= submit_tag "Search", class: "fa fa-search" %></i>
      </button>
    <% end %>
  </div>

  <div class="cards-container mb-5">
    <div class="cards">
      <% @plants.each do |plant| %>
        <div class="card <%= plant.category %> card-plant mb-3" style="max-width: 540px;">
          <div class="row">
            <div class="col-6 card-desc">
              <div class="card-body">
                <p class="card-subtitle"><%= plant.category %></p>
                
                <h5 class="card-title"><%= plant.name %></h5>
                <p class="card-text"><%= plant.description %></p>
                <%= link_to 'Details', plant_path(plant), class:"btn btn-warning" %>
              </div>
            </div>
            <div class="plant-img col-6">
              <%= cl_image_tag(plant.photo.key) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>