<h1>Plants#index</h1>
<p>Find me in app/views/plants/index.html.erb</p>

<h1 id="index-title">Dico des plantes</h1>

<div class="cards-container">
  <div class="cards">
    <% @plants.each do |plant| %>
      <div class="card">
          <div class="plant-card-image">
            <%= cl_image_tag(plant.photo.key) %>
          </div>
          <div class="plant-card-content">
            <div class="plant-card-title">
              <h4><%= plant.name %></h4>
            </div>
            <p><%= plant.description %></p>
            <div class="flex">
              <i class="material-icons mr-2">Arroser tous les <%= plant.water_frequency_in_days %> jours</i>
            </div>
          </div>
          <div class="plant-card-actions">
            <%= link_to 'Details', plant_path(plant) %>
          </div>
      </div>
    <% end %>
  </div>