<div class="container plant-container">
  <div class="row" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(@plant.photo.key, crop: :fill) %>);">
    <div class="title">
      <% if current_user.balcony && !@plant_is_already_on_balcony %>
        <h3>La plante</h3>
      <% else %>
        <h3>Ma plante</h3>
      <% end %>
      <h4 id="index-title"><%= @plant.name %></h4>
    </div>
  </div>
  <div class="card-product" id="plant_card">
    <div class="btn-add-plant">
      <% if current_user.balcony && !@plant_is_already_on_balcony %>
        <%= simple_form_for [current_user.balcony, @balcony_plant], method: :post do |f| %>
          <%= f.hidden_field :plant_id %>
          <%= f.submit "Ajouter cette plante", class: "btn btn-success", id:"plant_show_button" %>
        <% end %>
      <% end %>
    </div>
    <div class="logo_water_lum">
      <div>
        <% if @plant.luminosity == "ombre"%>
          <i class="bi bi-clouds-fill"></i>
        <% elsif @plant.luminosity == "peu ensoleillé" %>
          <i class="bi bi-cloud-sun-fill"></i>
        <% else %>
          <i class="bi bi-brightness-high-fill"></i>
        <% end %>
      </div>

      <div class="plant-temp">
        <i class="bi bi-thermometer-half"></i>
      </div>

      <div class="plant_water_text">
        <% if @plant.water_need == "peu"%>
          <i class="bi bi-droplet"></i>
        <% elsif @plant.water_need == "moyen" %>
          <i class="bi bi-droplet-half"></i>
        <% else %>
          <i class="bi bi-droplet-fill"></i>
        <% end %>
      </div>
    </div>
    <p class="temp-info"><strong><%= @plant.min_temp %> / <%= @plant.max_temp %>°C</strong></p>
    
    <div class="card-product-infos">
      <div class="border border-dark p-3 mb-1 text-justify">
        <h6>Conseils</h6>
        <p>
          Les mois de <% @plant.plantation_months.each do |i| %>
            <strong><%= i %></strong>,
          <% end %>
          <span>sont les plus propices pour mettre en terre votre <strong><%=@plant.name%></strong>.</span>
        </p>
        <p>
          Aux mois de <% @plant.harvest_months.each do |i| %>  
            <strong><%= i %></strong>,
          <% end %>
          <span>votre <strong><%= @plant.name %></strong> sera au top.</span>
        </p>
        <p>Pensez à protéger votre plante lorsque la température sera en dessous de <strong><%= @plant.min_temp %>°C</strong> et au dessus de <strong><%= @plant.max_temp %>°C.</strong></p>
        <p>Respectez un espacement de <strong><%= @plant.spacing_in_cm %>cm</strong> avec les autres plantes.</p>
        <p>Exposition: <strong><%= @plant.luminosity %></strong></p>
        <p><strong>Besoin en eau <%= @plant.water_need %>.</strong></p>
        <p>Votre <%=@plant.name%> est à arroser tous les <strong><%= @plant.water_frequency_in_days%></strong> jours.</p>
      </div>
      <div class="mt-1 mb-20 text-justify p-2">
        <br>
        <h6>Description</h6>
        <%= @plant.description %>
      </div>
      <div>
      <% if @plant_is_already_on_balcony %>
        <div class="mt-1 mb-20 text-justify p-2"">
          <h6>Derniéres tâches rèalisèes</h6>
          <% if @last_done_tasks.present? %>
            <% @last_done_tasks.each do |task| %>
              <p><%= task.category %> le <%= task.due_date  %></p>
            <% end %>
          <% else %> 
            <p>Vous n'avez rien fait sur votre plante depuis un moment...</p>
          <% end %>    
        </div>
      <% end %>
    </div>    
  </div>
</div>
















