<!DOCTYPE html>
<html>
  <head>
    <title>Weedz, l'application d'optimistion de végétalisation et de jardinage sur balcons et terrasses.</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Weedz, est l'application d'optimisation du jardinage sur balcons et terrasses. Plantes compatibles, alertes de soin des plantes, alertes météo, maintenir des plantes sur un balcon n'a jamais été aussi facile.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Weedz - Un jardin sur votre balcon facielement">
    <meta property="og:image" content="/assets/facebook.png">
    <meta property="og:description" content="Weedz, est l'application d'optimisation du jardinage sur balcons et terrasses. Plantes compatibles, alertes de soin des plantes, alertes météo, maintenir des plantes sur un balcon n'a jamais été aussi facile.">
    <meta property="og:site_name" content="widz"/>
    <meta property="og:see_also" content="http://www.widz.fr/">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="node_modules/select2/dist/css/select2.css">
  </head>

  <body>
    <% unless current_page?(root_path) || 
              current_page?(new_user_registration_path) || 
              current_page?(new_user_session_path) || 
              current_page?(new_balcony_path) %>
    <%= render 'shared/navbar' %>
    <% end %>
    <% unless current_page?(root_path) || current_page?(new_user_registration_path) || current_page?(new_user_session_path) %>
    <%= render 'shared/flashes' %>
    <% end %>

    <%= yield %>
  </body>
</html>
